@import "../../../styles/var";

.titleInput {
  width: 100%;
  outline: 0;
  border: 1px solid;
  border-color: rgba($color: $dark-gray, $alpha: 0);
  border-radius: 1rem;
  font-weight: bold;
  text-align: center;
  background: none;
  transition: 0.1s;

  &.small {
    font-size: $font-s;

    @media screen and (max-width: $mobile) {
      font-size: $font-xs;
    }
  }

  &.medium {
    font-size: $font-m;

    @media screen and (max-width: $mobile) {
      font-size: $font-s;
    }
  }

  &.large {
    font-size: $font-l;

    @media screen and (max-width: $mobile) {
      font-size: $font-m;
    }
  }

  &.xlarge {
    font-size: 4rem;

    @media screen and (max-width: $mobile) {
      font-size: $font-l;
    }
  }

  &:hover {
    border-color: $dark-gray;
  }

  &:focus {
    border-color: $main-color;
    box-shadow: 0 0 1px 1px $main-color;
  }
}
