$mobile: 500px !default;
$tablet: 1050px !default;

$font-xxs: 1rem;
$font-xs: 1.2rem;
$font-s: 1.5rem;
$font-m: 2rem;
$font-l: 3rem;
$font-xl: 5rem;
$font-xxl: 10rem;

$red: #f33e35;
$pink: #fb645d;
$orange: #ff9b58;
$yellow: #f5d55a;
$green: #41c48d;
$blue: #088ed6;
$purple: #755796;
$black: #282623;
$dark-gray: #444;
$gray: #888;
$white: #fdfcf5;

$main-color: $pink;
