@import "../../styles/var";

.lyrics {
  width: 100%;
  height: 100%;
}

.shareBtns {
  width: 20%;
  margin-top: 1rem;

  .btn {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: $mobile) {
    width: 50%;
  }
}

.textarea {
  width: 70%;
  height: 40vh;
  font-size: $font-s;
  margin: 2rem 0;

  @media screen and (max-width: $mobile) {
    width: 90%;
  }
}

.back {
  margin-top: 1rem;
}
