@import "../../styles/var";

.contact {
  width: 100%;
  min-height: 100vh;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  img {
    width: 50%;
    box-shadow: none !important;

    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }
}
