@import "../../styles/var";

.transition {
  transition-property: opacity visibility;

  &.willMount,
  &.willUnmount {
    visibility: hidden;
    opacity: 0;
    padding-top: 3rem;
  }

  &.mounted {
    visibility: visible;
    opacity: 1;
  }
}
