@import "../../../styles/var";

.strBtn {
  border: 0;
  background: none;
  cursor: pointer;
  transition: 0.1s;
  color: inherit;
  border-bottom: 1px dashed;

  &.small {
    font-size: $font-s;
  }

  &.medium {
    font-size: $font-m;
  }

  &.large {
    font-size: $font-l;
  }

  &.xlarge {
    font-size: 4rem;
  }

  &:hover {
    color: $main-color;
  }
}
