@import "../../../assets/scss/var";

.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  & .description {
    font-size: $font-m;
    margin-bottom: $font-m;
  }

  & .scrollBtn {
    position: absolute;
    bottom: 15%;
  }
}

.whatIs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
