@import "../../../assets/scss/var";

.top,
.whatIs,
.feature,
.bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  color: $black;
}

.top {
  .description {
    font-size: $font-m;
    margin-bottom: $font-m;
  }

  .scrollBtn {
    position: absolute;
    bottom: 15%;
  }
}

.whatIs {
  .description {
    width: 60%;
    margin-top: 1rem;
    font-size: $font-s;
  }

  .usageBox {
    width: 70%;
    margin-top: $font-m;
    border: 1px solid #000;

    .usageItem {
      width: 100%;
      height: 20vh;
      border: 1px solid #000;
    }
  }
}

.feature {
  .featBox {
    width: 70%;
    margin-top: $font-m;
    border: 1px solid #000;

    .featItem {
      width: 100%;
      height: 60vh;
      border: 1px solid #000;
    }
  }
}

.bottom {
  .startBtn {
    margin-top: 1rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem 0;
  color: $white;
  background-color: $black;

  .iconBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .links {
    font-size: $font-xs;
    margin: 0.5rem 0 1rem 0;

    .link {
      transition: 0.1s;

      &:hover {
        color: $red;
      }
    }

    .bar {
      margin: 0 1rem;
      user-select: none;
    }
  }

  .copyright {
    font-size: $font-xs;
  }
}
