@import "../../styles/var";

.start {
  width: 100%;
  height: 100%;
}

.textarea {
  width: 70%;
  height: 40vh;
  font-size: $font-s;

  @media screen and (max-width: $mobile) {
    width: 90%;
  }
}

.notice {
  width: 67%;
  font-size: $font-xs;
  color: $gray;

  @media screen and (max-width: $mobile) {
    width: 80%;
  }
}

.genModelBtn {
  margin-bottom: 1rem;
}

.fileInput {
  font-size: $font-s;
}
