@import "../../styles/var";

.start {
  width: 100%;
  height: 100%;
}

.textarea {
  width: 70%;
  height: 40vh;
  font-size: $font-s;
  margin-bottom: 1rem;
}

.notice {
  width: 67%;
  font-size: $font-xs;
  color: $gray;
  margin-bottom: 1rem;
}

.genModelBtn {
  margin-bottom: 1rem;
}

.fileInput {
  margin-bottom: 1.5rem;
}
