@import "../../styles/var";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 2rem 0;
  color: $white;
  background-color: $black;

  .iconBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: $font-s;

    @media screen and (max-width: $mobile) {
      gap: 1rem;
      width: 90%;
      font-size: $font-xs;
    }
  }

  .text {
    font-size: $font-s;

    @media screen and (max-width: $mobile) {
      font-size: $font-xs;
    }
  }
}
