@import "../../styles/var";

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 2rem 0;
  color: $white;
  background-color: $black;

  .iconBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .links {
    font-size: $font-s;

    .bar {
      margin: 0 1rem;
      user-select: none;
    }
  }

  .text {
    font-size: $font-s;
  }
}
