@import "../../../styles/var";

@mixin xsmall {
  width: $font-xs;
  height: $font-xs;
  font-size: $font-xs;
  padding: $font-xs;
}

@mixin small {
  width: $font-s;
  height: $font-s;
  font-size: $font-s;
  padding: $font-s;
}

@mixin medium {
  width: $font-m;
  height: $font-m;
  font-size: $font-m;
  padding: $font-m;
}

@mixin large {
  width: $font-l;
  height: $font-l;
  font-size: $font-l;
  padding: $font-l;
}

@mixin xlarge {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  padding: 4rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  background: none;
  border: 3px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.1s;

  &.small {
    @include small();

    @media screen and (max-width: $mobile) {
      @include xsmall();
    }
  }

  &.medium {
    @include medium();

    @media screen and (max-width: $mobile) {
      @include small();
    }
  }

  &.large {
    @include large();

    @media screen and (max-width: $mobile) {
      @include medium();
    }
  }

  &.xlarge {
    @include xlarge();

    @media screen and (max-width: $mobile) {
      @include large();
    }
  }

  &.pink {
    color: $pink;
    border-color: $pink;

    &:hover {
      background-color: $pink;
    }
  }

  &.green {
    color: $green;
    border-color: $green;

    &:hover {
      background-color: $green;
    }
  }

  &.twitter {
    color: #1da1f2;
    border-color: #1da1f2;

    &:hover {
      background-color: #1da1f2;
    }
  }

  &.facebook {
    color: #3b5998;
    border-color: #3b5998;

    &:hover {
      background-color: #3b5998;
    }
  }

  &.pocket {
    color: #e84352;
    border-color: #e84352;

    &:hover {
      background-color: #e84352;
    }
  }

  &:hover {
    color: $white;
  }
}
