@import "../../../styles/var";

.select {
  color: $black;
  background: none;
  border: 1px solid $gray;
  border-radius: 0.5rem;
  outline: 0;
  transition: 0.1s;

  &:hover {
    border: 1px solid $dark-gray;
  }

  &:focus {
    border: 1px solid $main-color;
    box-shadow: 0 0 1px 1px $main-color;
  }
}
