@import "../../../styles/var";

.scrollBtn {
  font-size: $font-l;
  cursor: pointer;
  transition: 0.2s;

  @media screen and (max-width: $mobile) {
    font-size: $font-m;
  }

  &:hover {
    transform: scale(1.2);
  }
}
