@import "../../styles/var";

.edit {
  width: 100%;
  height: 100%;
}

.lyricList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 60%;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: 0.1);
  padding: 3rem;
}

.verseAdd {
  margin: 2rem 0;
}

.verseClose {
  position: absolute;
  top: 0;
  right: 0;
}

.saveBtn {
  margin-bottom: 1rem;
}
