@import "../../../../assets/scss/var";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  visibility: hidden;
  opacity: 0;
  transition-property: opacity visibility;
  transition-duration: 0.2s;

  background-color: rgba($color: #000000, $alpha: 0.8);
  cursor: pointer;

  &.isOpen {
    visibility: visible;
    opacity: 1;
  }
}
