@import "../../../styles/var";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
  color: $black;
}
