@import "../../../../assets/scss/var";

.strBtn {
  border: 0;
  background: none;
  cursor: pointer;
  transition: 0.1s;
  font-size: $font-xs;
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: $red;
  }
}
