@import "../../../styles/var";

.iconBtn {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  transition: 0.1s;

  &.small {
    font-size: $font-s;

    @media screen and (max-width: $mobile) {
      font-size: $font-xs;
    }
  }

  &.medium {
    font-size: $font-m;

    @media screen and (max-width: $mobile) {
      font-size: $font-s;
    }
  }

  &.large {
    font-size: $font-l;

    @media screen and (max-width: $mobile) {
      font-size: $font-m;
    }
  }

  &.xlarge {
    font-size: 4rem;

    @media screen and (max-width: $mobile) {
      font-size: $font-l;
    }
  }

  &.black {
    color: $black;
  }

  &.white {
    color: $white;
  }

  &:hover {
    color: $main-color;
  }
}
