@import "../../../styles/var";

.iconBtn {
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
  transition: 0.1s;

  &.small {
    font-size: $font-s;
  }

  &.medium {
    font-size: $font-m;
  }

  &.large {
    font-size: $font-l;
  }

  &.xlarge {
    font-size: 4rem;
  }

  &.black {
    color: $black;
  }

  &.white {
    color: $white;
  }

  &:hover {
    color: $main-color;
  }
}
