@import "../../../styles/var";

.headline1 {
  font-size: $font-xxl;

  @media screen and (max-width: $mobile) {
    font-size: $font-xl;
  }
}

.headline2 {
  font-size: $font-xl;

  @media screen and (max-width: $mobile) {
    font-size: $font-l;
  }
}

.headline3 {
  font-size: $font-m;

  @media screen and (max-width: $mobile) {
    font-size: $font-s;
  }
}
