@import "../../../styles/var";

.tokenCard {
  padding: 2rem;
  border-radius: 1rem;
  background-color: $white;
  box-shadow: 5px 5px 10px 0 rgba($color: #000000, $alpha: 0.1);
  font-size: $font-s;
  text-align: center;
}
